{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% load cache %}
    {% cache 60 title %}
        {% block title %}
        Categories
        {% endblock title %}
{% endcache %}


{% load cache %}
    {% cache 10 content %}
{% block content %}

<h1>Categories</h1>
<h3>Вы смотрите публикации категории: {{ category.category_name }}!!!</h3>

{% if is_not_subscriber %}
<p class="text_center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться на категорию</a> </p>
{% else %}
<p class="text_center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться от рассылки</a> </p>
{% endif %}

<hr>

<ul class="list-group list-group-flush">
   {% if category_news_list %}
           {% for single_news in category_news_list %}
           <li class="list-group-item">
               <small class="fw-bold">{{ single_news.time_of_creation|date:'M d Y D H:i' }}</small>
               <a href="{% url 'post_detail' single_news.id%}">{{ single_news.post_name|censored }}</a>
               <small class="text-muted">автор: {{single_news.author_post}} </small> <br>
               <small class="fw-bold">категории:
                   {% for post_category in single_news.post_category.all%}
                       <a href="{% url 'category_list' post_category.id %}"> {{ post_category }} </a>
                   {% endfor%}
               </small>
               <p>{{ single_news.post_content|censored|truncatewords:20 }}</p>
           </li>
           {% endfor %}
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
</ul>

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}
{% endcache %}
