<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет News -->
{% block title %}
News
{% endblock title %}


<!-- В контенте на странице мы выводим все статьи и новости -->
{% block content %}

<h1>News</h1>

<h5>{{ time_now|date:'M d Y D' }}</h5>
<h5>Всего новостей: {{ count_news|length }}</h5>
<h5>{{ news_count|default_if_none:"Новостей нет!" }} </h5>

{# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Поиск" />
   </form>


<hr>

{% if perms.news.news_create %}
    <a href="{% url 'news_create' %}">Добавить новость.</a>
    {% endif %}

{% if perms.news.articles_create %}
    <a href="{% url 'articles_create' %}">Добавить статью.</a>
    {% endif %}

<ul class="list-group list-group-flush">
   {% if news %}
           {% for single_news in news %}
           <li class="list-group-item">
               <small class="fw-bold">{{ single_news.time_of_creation|date:'M d Y D H:i' }}</small>
               <a href="{% url 'post_detail' single_news.id%}">{{ single_news.post_name|censored }}</a>
               <small class="text-muted">автор: {{single_news.author_post}} </small> <br>
               <small class="fw-bold">категории:
                   {% for post_category in single_news.post_category.all%}
                        <a href="{% url 'category_list' post_category.id %}"> {{ post_category }} </a>
                   {% endfor%}
               </small>
               <p>{{ single_news.post_content|censored|truncatewords:20 }}</p>
               <p>Рейтинг публикации: {{ single_news.rating }}.</p>
           </li>
           {% endfor %}
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
</ul>



{# Добавляем пагинацию на страницу. Информация о предыдущих страницах.#}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
{# Информация о текущей странице #}
   {{ page_obj.number }}
{# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}