{% extends 'flatpages/default.html' %}
{% load custom_filters %}


{% block title %}
Single news
{% endblock title %}


{% block content %}
<h1> Only one single publication </h1>
<h5>{{ time_now|date:'M d Y D' }}</h5>
<hr>
   {% if single_news %}

               <h4>{{ single_news.post_name|censored }}</h4>
               <h5>{{ single_news.time_of_creation|date:'M d Y D H:i' }}</h5>
               <h4>{{ single_news.post_content|censored }}</h4>
               <p>Рейтинг публикации: {{ single_news.rating }}.</p>

               {% if comments %}
                   {% for com in comments %}
                   <small class="fw-bold">Пользователь {{ com.user }} прокомментировал:</small> <br>
                   <p>"{{ com.comment_text }}"</p>
                   <small class="text-muted">Дата: {{ com.comment_date }} </small>
                   <p>Оценка: {{ com.rating }}</p>
                   {% endfor %}
               {% else %}
                    <h6>Комментариев нет!</h6>
               {% endif %}

   {% else %}
       <h2>Новость отсутствует!</h2>
   {% endif %}

{% endblock content %}
