<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NewsPaper</title>
        <!-- Favicon-->
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
   <div class="container">
       <a class="navbar-brand" href="#">News Paper Project</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false"
               aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">

               <li class="nav-item">
                   <a class="nav-link" href="/news/">News</a>
               </li>

               {% if request.user.is_authenticated %}
               <li class="nav-item">
                   <a class="nav-link" href="/news/subscriptions/">Subscriptions</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/accounts/logout/">Exit <h7>{{ user.username }}</h7></a>
               </li>
               {% else %}
               <li class="nav-item">
                   <a class="nav-link" href="/accounts/login/">Login</a>
               </li>
               {% endif %}

           </ul>
       </div>

   </div>
</nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                 <div class="col-lg-12 text-center">
                     {% block content %}
                     {{ flatpage.content }}
                     {% endblock content %}
                 </div>
             </div>
        </div>
<p> </p>
<center><p><h7>2023-2024</h7></p></center>
    </body>
</html>
